<div class="course-form">
    <h2>עדכון קורס</h2>
  
    <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
      <div>
        <label for="title">כותרת הקורס:</label>
        <input type="text" id="title" name="title" [placeholder]="course.title" [(ngModel)]="course.title" required />
      </div>
  
      <div>
        <label for="description">תיאור הקורס:</label>
        <textarea id="description" name="description" [placeholder]="course.description" [(ngModel)]="course.description" required></textarea>
      </div>
  
      <div>
        <label for="teacherId">מזהה המורה:</label>
        <input type="text" id="teacherId" name="teacherId" [placeholder]="course.teacherId" [(ngModel)]="course.teacherId" required />
      </div>
  
      <button type="submit" [disabled]="!courseForm.form.valid">שמור</button>
    </form>
  </div>
  